body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #0e3b56 0%, #0993ab 100%);
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

